
.PageGala .details {
	display: flex;
}

.PageGala .detail {
	padding: 60px 20px 30px 20px;
	border: none !important;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex: 50%;
}

.PageGala .detail i {
	font-size: 68px;
	margin-bottom: 8px;
}

.PageGala .awards {
	display: flex;
	flex-wrap: wrap;
}

.PageGala .awards > div {
	flex: 50%;
}

.PageGala .cisos-and-dpos {
	border-top: none !important;
}

.PageGala .cisos-and-dpos a {
	margin-right: 8px;
}

.PageGala .cisos-and-dpos table img.profile {
	border-radius: 100%;
	width: 80%;
	max-width: 200px;
}
.PageGala .cisos-and-dpos table tr th,
.PageGala .cisos-and-dpos table tr td {
	min-width: 100px;
	vertical-align: middle;
}

.PageGala .cisos-and-dpos table tr td:first-child,
.PageGala .cisos-and-dpos table tr th {
	font-size: 18px;
}

.PageGala .cisos-and-dpos table tr td {
	min-width: 100px;
	vertical-align: middle;
}

.PageGala .cisos-and-dpos table tr td:not(:first-child),
.PageGala .cisos-and-dpos table tr th:not(:first-child) {
	border-left: solid 2px #eee;
}

.PageGala a.linkedin-link {
	margin-left: 8px;
}

.PageGala .cisos-and-dpos a {
	text-decoration: none;
	border: none;
	height: 50px !important;
}


.PageGala a img {
	max-height: 30px;
	max-width: 100%;
}

.PageGala .magician-row {
	display: flex;
	flex-wrap: wrap;
	border: none !important;
	align-items: center;
	padding: 1rem 4rem 2rem 4rem !important;
}

.PageGala .magician-row > div {
	flex: 50%;
	align-items: center;
}

.PageGala .photo-magicien {
	position: relative;
	border: none !important;
	width: 100%;
	text-align: center;
	padding-top: 24px !important;
	padding-bottom: 24px !important;
}

.PageGala .photo-magicien img {
	object-fit: cover;
  	border-radius: 50%;
  	width: 200px;
  	max-width: 100%;
  	height: auto;
}

@media screen and (max-width: 980px) {
	.PageGala .magician-row > div {
		flex: 0 0 100% !important;
		flex-direction: column;
	}
}

.PageGala .carousel,
.PageGala .slider-wrapper,
.PageGala .slider {
	aspect-ratio: 16 / 10;
	background-color: black;
}

.PageGala .carousel button {
	height: 100%;
}

.PageGala .carousel .slide,
.PageGala .carousel .slide img {
	height: 100%;
	width: auto;
}