@media (max-width: 800px) {
  .PageHome .editions {
		flex-direction: column;
	}

	.PageHome .editions-small {
		flex-direction: column;
	}
}

.PageHome .editions {
	display: flex;
}

.PageHome .editions-small {
	display: flex;
}

.PageHome .editions-small .edition {
	padding: 10px 20px 30px 20px;
	border: none !important;
	text-align: center;
	flex: 2;
}

.PageHome .editions-small .edition-white {
	flex: 1;
}

.PageHome .editions-small .edition img {
  object-fit: cover;
}

.PageHome .description {
	padding-top: 15px;
	padding-bottom: 10px;
}

.PageHome .editions .edition {
	padding: 10px 20px;
	border: none !important;
	text-align: center;
	flex: 1;
}

.PageHome .editions-small .edition p {
	font-size: 1.1rem;
	line-height: 1.0rem;
	text-align: center;
	font-weight: bold;
}

.PageHome .edition:hover {
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	transition: .5s ease;
}

.PageHome .edition a {
	border: none !important;
}

.PageHome .spring {
	padding: 60px 20px 40px 20px;
	background-color: #5f9e3a;
}

.PageHome .autumn {
	padding: 60px 20px 40px 20px;
	background-color: #f6961e;
}

.PageHome ul {
  border: none !important;
  padding-left: 8em !important;
  padding-top: 0em !important;
  padding-bottom: 0em !important;
}

.PageHome li {
  border: none !important;
  padding-top: 0em !important;
  padding-bottom: 0em !important;
}

.PageHome .private-space {
	text-align: center;
	color: #212931;
}

.PageHome .brand-kit {
	text-align: center;
	color: #212931;
	padding: 50px 0;
}

.PageHome .brand-kit h4 {
	font-size: 22px !important;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}

.PageHome .brand-kit:hover h4 {
	font-size: 24px !important;
}

.PageHome .brand-kit i {
	margin: 8px 0px;
	font-size: 120px;
	-webkit-transition: font-size .5s ease;
	-moz-transition: font-size .5s ease;
	-o-transition: font-size .5s ease;
	transition: font-size .5s ease;
}

.PageHome .brand-kit:hover i {
	font-size: 150px;
}
