
.PageGala .details {
	display: flex;
}

.PageGala .detail {
	padding: 60px 20px 30px 20px;
	border: none !important;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex: 50%;
}

.PageGala .detail i {
	font-size: 68px;
	margin-bottom: 8px;
}

.PageGala .awards {
	display: flex;
	flex-wrap: wrap;
}

.PageGala .awards > div {
	flex: 50%;
}

.PageGala .cisos-and-dpos {
	border-top: none !important;
}

.PageGala .cisos-and-dpos a {
	margin-right: 8px;
}

.PageGala .cisos-and-dpos table img.profile {
	border-radius: 100%;
	width: 80%;
	max-width: 200px;
}
.PageGala .cisos-and-dpos table tr th,
.PageGala .cisos-and-dpos table tr td {
	min-width: 100px;
	vertical-align: middle;
}

.PageGala .cisos-and-dpos table tr td:first-child,
.PageGala .cisos-and-dpos table tr th {
	font-size: 16px;
}

.PageGala .cisos-and-dpos table tr td {
	min-width: 100px;
	vertical-align: middle;
}

.PageGala .cisos-and-dpos table tr td:last-child,
.PageGala .cisos-and-dpos table tr th:last-child {
	border-left: solid 2px #eee;
}

.PageGala a.linkedin-link {
	margin-left: 8px;
}

.PageGala .cisos-and-dpos a {
	text-decoration: none;
	border: none;
	height: 50px !important;
}


.PageGala a img {
	max-height: 30px;
	max-width: 100%;
}