
.PageHome .editions {
	display: flex;
}

.PageHome .description {
	padding-top: 15px;
	padding-bottom: 10px;
}

.PageHome .edition {
	padding: 10px 20px;
	border: none !important;
	text-align: center;
	flex: 1;
}

.PageHome .edition:hover {
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	transition: .5s ease;
}

.PageHome .edition a {
	border: none !important;
}

.PageHome .spring {
	padding: 60px 20px 40px 20px;
	background-color: #5f9e3a;
}

.PageHome .autumn {
	padding: 60px 20px 40px 20px;
	background-color: #f6961e;
}

.PageHome ul {
  border: none !important;
  padding-left: 8em !important;
  padding-top: 0em !important;
  padding-bottom: 0em !important;
}

.PageHome li {
  border: none !important;
  padding-top: 0em !important;
  padding-bottom: 0em !important;
}