
#nav {
    color: #ffffff;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-transition: -moz-transform 1s ease, opacity 1s ease;
    -webkit-transition: -webkit-transform 1s ease, opacity 1s ease;
    -ms-transition: -ms-transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease;
    background-color: #232021;
    height: 4rem;
    line-height: 4rem;
    margin: -4rem auto 0 auto;
    overflow: hidden;
    padding: 0 2rem 0 0;
    position: relative;
    width: calc(100% - 4rem);
    max-width: 72rem;
    z-index: 2;
}

#nav ul.links {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 900;
    letter-spacing: 0.075em;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    text-transform: uppercase;
}

#nav ul.links li.active {
    background-color: #ffffff;
}

#nav ul.links li {
    display: block;
    padding-left: 0;
}

#nav ul.links li.active a {
    color: #1e252d;
}

#nav ul.links li a {
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    display: block;
    font-size: 0.8rem;
    outline: none;
    padding: 0 2rem;
}
#nav a {
    color: #ffffff;
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

#nav .nav-link-spring a:hover {
    color: #5f9e3a !important;
}

#nav .nav-link-autumn a:hover {
    color: #f6961e !important;
}

#nav ul.links .nav-link-spring li.active a {
    color: #5f9e3a !important;
}

#nav ul.links .nav-link-autumn li.active a {
    color: #f6961e !important;
}