.custom-nav {
    background-color: #232021;
    padding: 0 2rem;
    max-width:72rem;
    margin: auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 0;
}

.nav-brand {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-toggle-icon {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    position: relative;
}

.nav-toggle-icon::before,
.nav-toggle-icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.nav-toggle-icon::before {
    top: -8px;
}

.nav-toggle-icon::after {
    bottom: -8px;
}

.nav-menu {
    display: flex;
    gap: 1rem;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 900;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    transition: color 0.2s ease-in-out;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
}

.nav-link.active {
    background-color: #ffffff;
    color: #1e252d;
}

.nav-link-spring:hover,
.nav-link-spring.active {
    color: #5f9e3a !important;
}

.nav-link-autumn:hover,
.nav-link-autumn.active {
    color: #f6961e !important;
}

@media (max-width: 991px) {
    .nav-container {
        flex-wrap: wrap;
    }

    .nav-toggle {
        display: block;
        order: 1;
    }

    .nav-brand {
        order: 0;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        order: 2;
    }

    .nav-menu.open {
        display: flex;
    }

}