
#InsideApp {
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#intro {
    color: #ffffff;
    padding: 8rem 4rem 6rem 4rem;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: -moz-flex-end;
    -webkit-justify-content: -webkit-flex-end;
    -ms-justify-content: -ms-flex-end;
    justify-content: flex-end;
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    position: relative;
    cursor: default;
    text-align: center;
    z-index: 1;
    min-height: 100vh;
}

#intro input[type="submit"], #intro input[type="reset"], #intro input[type="button"], #intro button, #intro .button {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #232021;
    color: #232021 !important;
}

#intro a {
    color: #ffffff;
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

#InsideApp-content {
    background-color: #ffffff;
    position: relative;
    margin: 0 auto;
    width: calc(100% - 4rem);
    max-width: 72rem;
    z-index: 2;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#bg {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    width: 100% !important;
    height: 100vh !important;
    animation: fadeIn 1s;
}
